.borda-lateral-contatos {
    grid-area: borda-contatos;
}

.borda-lateral-contatos ul {
    position: fixed;
    display: flex;
    flex-direction: column;
    padding-top: 30vh;
    margin-left: 5px;
    gap: 30px;
    font-size: 30px;
}

.borda-lateral-contatos li a i {
    color: var(--cor-borda-dinamica);
    transition: all 0.3s ease;
}

.borda-lateral-contatos ul li a i:hover {
    cursor: pointer;
    color: var(--cor-terciaria);
    border-radius: 50%;
    animation: movimentacaoDosContatos 4s linear infinite;
    box-shadow: 20px -10px 20px 0px rgba(0,100,194,0.7);
}

.borda-lateral-contatos ul li a i:active {
    color: var(--cor-click-active)
}

/*Modo Dark*/

.borda-lateral-contatos.dark {
    position: fixed;  
    animation: darkActive 2s steps(1) infinite;  
}

/*Responsivo*/

@media (max-width: 768px) {
    .borda-lateral-contatos li a i {
        font-size: 25px;
    }
}

@media (max-width: 375px) {
    .borda-lateral-contatos li a i {
        font-size: 20px;
    }
}