.borda-lateral-contatos {
    grid-area: borda-contatos;
}

.borda-lateral-contatos ul {
    position: fixed;
    display: flex;
    flex-direction: column;
    padding-top: 30vh;
    margin-left: 5px;
    gap: 30px;
    font-size: 30px;
}

.borda-lateral-contatos li a i {
    color: var(--cor-primaria);
    transition: all 0.3s ease;
}

.borda-lateral-contatos ul li a i:hover {
    cursor: pointer;
    color: var(--cor-secundaria);
    animation: movimentacao 4s linear infinite;
}

.borda-lateral-contatos ul li a i:active {
    color: var(--cor-click-active)
}

@keyframes movimentacao {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(5px);
    }

    45% {
        transform: translateX(5px);
    }
}

@media (max-width: 768px) {
    .borda-lateral-contatos li a i {
        font-size: 25px;
    }
}

@media (max-width: 375px) {
    .borda-lateral-contatos li a i {
        font-size: 20px;
    }
}