.footer {
    background-color: var(--cor-primaria);
    grid-area: footer;
}

.footer .footer-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 20px;
}

.footer .footer-container p {
    color: var(--cor-branca);
    margin: 20px;
}

.footer .footer-container .footer-contatos {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer .footer-container .formulario-container {
    width: 350px;
}

.footer .footer-container form {
    display: flex;
    flex-direction: column; 
    border-radius: 10px;
    background-color: var(--cor-secundaria);
    padding: 8px;
    box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.4);
}

.footer .footer-container form label {
    color: var(--cor-terciaria);
    font-size: 15px;
    font-weight: 600;
    margin: 0px 0px 5px 5px;
}

.footer .footer-container form input {
    padding: 10px;
    outline: none;
    border: 1px solid #ffffff;
    font-size: 15px;
    font-weight: 600;
    border-radius: 10px;
    margin-bottom: 5px;
    box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.4);
    transition: 0.3s ease-in-out;
}

.footer .footer-container form textarea {
    padding: 10px;
    outline: none;
    border: 1px solid #ffffff;
    resize: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 600;
    border-radius: 10px;
    margin-bottom: 5px;
    box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.4);
    transition: 0.5s ease-in-out;
    margin: 5px;
}

.footer .footer-container form input:focus,
.footer .footer-container form textarea:focus {
    border: 1px solid var(--cor-primaria);
}

.footer .footer-container form input::placeholder,
.footer .footer-container form textarea::placeholder {
    color: var(--cor-hover);
}

.footer .footer-container form button {
    border: none;
    outline: none;
    padding: 10px;
    margin: 5px;
    font-size: 15px;
    font-weight: 600;
    border-radius: 5px;
    color: var(--cor-primaria);
    box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.4);
    transition: .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.footer .footer-container form button:active {
    border: 1px solid var(--cor-primaria);
    transform: scale(0.96);
}

.footer .footer-container .footer-contatos p {
    position: relative;
}

.footer .footer-container .footer-contatos p::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -12px;
    left: 0;
    background-color: var(--cor-borda-dinamica);
}

.footer .footer-container .footer-contatos ul {
    display: flex;
}

.footer .footer-container .footer-contatos ul li a {
    color: var(--cor-secundaria);
    font-size: 25px;
    margin: 20px;
    transition: all 0.3s ease;
}

.footer .footer-container .footer-contatos ul li a:hover {
    color: var(--cor-branca);
}

.footer .footer-container .footer-contatos ul li a:active {
    color: var(--cor-click-active);
}

/*Modo Dark*/

.footer .footer-container .footer-contatos.dark {
    animation: darkActive 2s steps(1) infinite;
}

/*Responsivo*/

@media (max-width: 1024px) {
    .footer .footer-container .formulario-container {
        width: 300px;
    }    
}

@media (max-width: 768px) {
    
    .footer .footer-container {
        flex-direction: column;
    }

    .footer .footer-container .formulario-container {
        width: 270px;
    }

    .footer .footer-container p {
        font-size: 12px;
    }
}