html {
    scroll-behavior: smooth;
}

body {
    display: grid;
    grid-template-areas: "header header header"
        "borda-contatos perfil borda"
        "borda-contatos sobre borda"
        "borda-contatos habilidades borda"
        "borda-contatos projetos borda"
        "footer footer footer";
    grid-template-columns: 8% auto 8%;
    font-family: 'Montserrat', sans-serif;
    background-color: var(--cor-background);
}

body section {
    padding-bottom: 15%;
}

section .title {
    font-size: 70px;
    text-align: center;
    margin-bottom: 15%;
    color: var(--cor-primaria);
}

.borda {
    grid-area: borda;
}

@media (max-width: 1340px) {

}

@media (max-width: 1024px) {

}

@media (max-width: 768px) {
    section .title {
        font-size: 40px;
    }
}

@media (max-width: 375px) {

}
