::-webkit-scrollbar {
    width: 10px;
    background-color: var(--cor-background-container);
}

::-webkit-scrollbar-thumb {
    background-color: var(--cor-primaria);
}

html {
    scroll-behavior: smooth;
}

body {
    display: grid;
    grid-template-areas: "header header header"
        "borda-contatos perfil borda-voltar-topo"
        "borda-contatos sobre borda-voltar-topo"
        "borda-contatos habilidades borda-voltar-topo"
        "borda-contatos projetos borda-voltar-topo"
        "footer footer footer";
    grid-template-columns: 8% auto 8%;
    font-family: 'Montserrat', sans-serif;
    background: rgb(0,100,194);
    background: linear-gradient(120deg, rgba(0,100,194,0.7) 0%, rgba(208,210,218,1) 50%, rgba(0,100,194,0.7) 100%);
}

body section .campo-title {
    background-color: var(--cor-background-container);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin: 10px;
}

body section .title {
    font-size: 70px;
    text-align: center;
    color: var(--cor-primaria);
}

/*Voltar para o topo*/

.borda-voltar-topo {
    grid-area: borda-voltar-topo;
}

.borda-voltar-topo .icon-topo {
    position: fixed;
    bottom: 50px;
    right: -100px;
    transition: 1s ease-in-out;
}

.borda-voltar-topo .icon-topo i {
    font-size: 40px;
    color: var(--cor-borda-dinamica);
}

.borda-voltar-topo .icon-topo i:hover {
    color: var(--cor-branca);
    box-shadow: 0px 0px 20px 0px rgba(0,100,194,0.7);
}
.borda-voltar-topo .icon-topo i:active {
    color: var(--cor-click-active);
}

.mostrar-icone-topo .icon-topo  {
    right: 10px;
}

/*Modo Dark*/

body.dark {
    background: rgb(1,38,73);
    background: linear-gradient(120deg, rgba(1,38,73,0.7) 0%, rgba(67,134,200,1) 50%, rgba(1,38,73,1) 100%);
}

body.dark .perfil .nome-dev .title-name,
body.dark .perfil .nome-dev .dev,
body.dark h2,
body.dark h3,
body.dark p {
    color: var(--cor-background-light);
}

/*Responsivo*/

@media (max-width: 1340px) {

}

@media (max-width: 1024px) {
    .borda-voltar-topo .icon-topo .fa-solid {
        font-size: 35px;
    }
}

@media (max-width: 768px) {
    body section .title {
        font-size: 40px;
    }

    .mostrar-icone-topo .icon-topo  {
        right: 3px;
    }

    .borda-voltar-topo .icon-topo .fa-solid {
        font-size: 30px;
    }
}

@media (max-width: 375px) {
    body section .campo-title {
        margin: 5px;
    }

    .mostrar-icone-topo .icon-topo  {
        right: 2px;
    }
}
