.habilidades {
    grid-area: habilidades;
    min-height: 100vh;
    padding: 100px 0% 20px;
}

.habilidades .habilidades-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 10px;
    flex-wrap: wrap;
    background-color: var(--cor-background-container);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin: 10px;
}

.habilidades .habilidades-container .card-container {
    position: relative;
    text-align: center;
    max-width: 300px;
    padding: 18px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
    margin: 28px 0;
    transition: all 0.3s ease;
    z-index: 0;
}

.habilidades .habilidades-container .card-container::after {
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.3);
    transition: all 0.6s ease;
    opacity: -1;
}

.habilidades .habilidades-container .card-container:hover {
    transform: scale(1.1);
}

.habilidades .habilidades-container .card-container:hover::after {
    opacity: 1;
}


.habilidades .habilidades-container .card-container .logo-habilidade i,
.habilidades .habilidades-container .card-container .logo-habilidade .iconify {
    font-size: 100px;
    color: var(--cor-primaria);
    transition: 0.3s ease;
}

.habilidades .habilidades-container .card-container h3 {
    font-size: 40px;
    transition: 0.3s ease;
}

.habilidades .habilidades-container .card-container:hover .logo-habilidade i,
.habilidades .habilidades-container .card-container:hover .logo-habilidade .iconify,
.habilidades .habilidades-container .card-container:hover h3 {
    color: var(--cor-secundaria);
}

.habilidades .habilidades-container .card-container p{
    font-size: 18px;
}

/*Modo Dark*/

.habilidades.dark .habilidades-container {
    background-color: var(--cor-background-dark);
    transition: 0.8s;
}

.habilidades.dark .campo-title {
    background-color: var(--cor-background-dark);
    transition: 0.8s;
}

/*Responsivo*/

@media (max-width: 768px) {
    .habilidades .habilidades-container {
        min-width: 250px;
        min-width: 200px;
        padding: 30px;
        margin: 10px;
    }
    
    .habilidades .habilidades-container .card-container h3 {
        font-size: 30px;
    }

    .habilidades .habilidades-container .card-container p {
        font-size: 15px;
    }
}

@media (max-width: 375px) {
    .habilidades .habilidades-container {
        min-width: 200px;
        margin: 5px;
    }
}