.perfil {
    grid-area: perfil;
    display: flex;
    margin: 0 auto;
    min-height: 100vh;
    padding-top: 100px;
}

.perfil .wellcome {
    font-size: 35px;
    padding: 70px 0px 0 0;
    text-align: end;
    color: var(--cor-primaria);
    font-weight: 500;
}
.perfil .foto-perfil {
    display: flex;
    justify-content: center;
}

.perfil .foto-perfil .sobra-foto-perfil {
    background-color: var(--cor-background-shadow);
    position: relative;
    width: 455px; 
    height: 580px;
    border-radius: 150px 90px 150px 0px;
    margin-top: 60px;
}
.perfil .foto-perfil .sobra-foto-perfil .border-box-perfil {
    position: relative;
    width: 455px; 
    height: 580px;
    top: 6%;
    left: 6%;
    background-color: var(--cor-primaria);
    border-radius: 150px 90px 150px 0px;
    overflow: hidden;
    box-shadow: 15px 15px 20px 0px rgba(0,0,0,0.3);
}

.perfil .foto-perfil .sobra-foto-perfil .border-box-perfil::before {
    content: '';
    position: absolute;
    background-color: var(--cor-secundaria);
    width: 200%;
    height: 250px;
    right: -80px;
    top: 150px;
    animation: bordaAnimada 4s linear infinite;
}

.perfil .foto-perfil .sobra-foto-perfil img {
    position: absolute;
    width: 98%;
    height: 98%;
    border-radius: 150px 90px 150px 0px;
    z-index: 99;
    animation: bordaBrilhante 1s ease infinite;
}

.perfil .title-name {
    font-size: 40px;
    text-align: center;
    color: var(--cor-primaria);
}

.perfil .nome-dev {
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 120px;
}

.perfil .nome-dev .dev {
    font-size: 30px;
    text-align: center;
    color: var(--cor-primaria);
    font-weight: 500;
}

/*Responsivo*/

@media (max-width: 1340px) {

    .perfil {
        flex-direction: column;
    }
    
    .perfil .wellcome {
        font-size: 33px;
    }

    .perfil .nome-dev {
        padding-left: 0px;
        padding-top: 60px;
    }

    .perfil .foto-perfil .sobra-foto-perfil {
        width: 300px; 
        height: 380px;
    }

    .perfil .foto-perfil .sobra-foto-perfil .border-box-perfil {
        width: 300px; 
        height: 380px;
    }
    
    .perfil .foto-perfil .sobra-foto-perfil .border-box-perfil::before {
        right: -90px;
        top: 80px;
    }
}

@media (max-width: 1024px) {
    .perfil {
        flex-direction: column;
    }

    .perfil .wellcome {
        padding: 20px 0 0 0;
        text-align: center;
        font-size: 24px;
    }

    .perfil .title-name {
        font-size: 40px;
    }

    .perfil .nome-dev {
        margin-top: 30px;
    }

    .perfil .title-name {
        font-size: 30px;
    }

    .perfil .nome-dev .dev {
        font-size: 25px;
    }
}

@media (max-width: 768px) {
    .perfil .wellcome {
        font-size: 24px;
        text-align: center;
    }

    .perfil .foto-perfil .sobra-foto-perfil {
        width: 190px; 
        height: 250px;
    }

    .perfil .foto-perfil .sobra-foto-perfil .border-box-perfil {
        width: 190px; 
        height: 250px;
    }

    .perfil .foto-perfil .sobra-foto-perfil .border-box-perfil::before {
        width: 200%;
        height: 100px;
        right: -90px;
        top: 80px;
    }

    .perfil .title-name {
        font-size: 25px;
    }

    .perfil .nome-dev .dev {
        font-size: 20px;
    }
}