.perfil {
    grid-area: perfil;
    height: 100vh;
    display: flex;
    margin: 0 auto;
}

.perfil .wellcome {
    font-size: 40px;
    padding: 70px 0px 0 0;
    text-align: end;
    color: var(--cor-primaria);
    font-weight: 500;
}
.perfil .foto-perfil {
    display: flex;
    justify-content: center;
}

.perfil .foto-perfil .sobra-foto-perfil {
    background-color: var(--cor-background-perfil);
    position: relative;
    width: 455px; 
    height: 580px;
    border-radius: 50px;
    margin-top: 60px;
}

.perfil .foto-perfil .sobra-foto-perfil img {
    position: relative;
    border-radius: 50px;
    margin: 50px;
    box-shadow: 15px 15px 20px 0px rgba(0,0,0,0.3);
}

.perfil .nome-dev {
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 120px;
}

.perfil .nome-dev .dev {
    font-size: 40px;
    text-align: center;
    color: var(--cor-primaria);
    font-weight: 500;
}

@media (max-width: 1340px) {

    .perfil {
        flex-direction: column;
    }
    
    .perfil .wellcome {
        font-size: 33px;
    }

    .perfil .nome-dev {
        padding-left: 0px;
        padding-top: 60px;
    }

    .perfil .foto-perfil .sobra-foto-perfil {
        width: 300px; 
        height: 380px;
    }

    .perfil .foto-perfil .sobra-foto-perfil img {
        width: 300px;
        height: 380px;
        margin: 40px;
    }
}

@media (max-width: 1024) {
    .perfil {
        flex-direction: column;
    }

    .perfil .wellcome {
        padding: 60px 0 0 0;
        text-align: center;
        font-size: 24px;
    }

    .perfil .foto-perfil .sobra-foto-perfil {
        width: 300px; 
        height: 380px;
    }

    .perfil .foto-perfil .sobra-foto-perfil img {
        width: 300px;
        height: 380px;
        margin: 30px;
    }

    .perfil .nome-dev {
        margin-top: 60px;
    }
}

@media (max-width: 768px) {
    .perfil .wellcome {
        margin-top: 60px;
        font-size: 24px;
        text-align: center;
    }

    .perfil .foto-perfil .sobra-foto-perfil {
        width: 190px; 
        height: 250px;
        margin-top: 40px;
    }

    .perfil .foto-perfil .sobra-foto-perfil img {
        width: 190px;
        height: 250px;
        margin: 20px;
    }

    .perfil .nome-dev .dev {
        font-size: 20px;
    }
}

@media (max-width: 375px) {
    
}