.projetos {
    grid-area: projetos;
    margin: 0 auto;
}

.projetos .title {
    margin-bottom: 150px;
}

.projetos .projetos-container {
    display: grid;
    grid-template-columns: repeat(4, minmax(210px, 1fr));
    grid-gap: 78px;
    margin-bottom: 120px;
}

.projetos .projetos-container .projeto {
    position: relative;
    border: solid 1px var(--cor-primaria);
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.4);
}

.projetos .projetos-container .projeto:hover img {
    opacity: 0.8;
}

.projetos .projetos-container .projeto h3 {
    margin-top: 15px;
    position: absolute;
}

.projetos .projetos-container .projeto .projeto-conteudo {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--cor-secundaria);
    top: 0;
    opacity: 0;
    transition: all 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.projetos .projetos-container .projeto .projeto-conteudo:hover {
    opacity: 0.6;
}

.projetos .projetos-container .projeto .projeto-conteudo a {
    font-weight: 700;
    color: var(--cor-branca);
    transition: all 0.3s ease;
}

.projetos .projetos-container .projeto .projeto-conteudo a:hover {
    margin: 5px;
}

.projetos .projetos-container .projeto .projeto-conteudo p {
    margin: 10px;
    font-size: 15px;
    position: relative;
}

.projetos .projetos-container .projeto .projeto-conteudo p::after {
    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    left: 0;
    bottom: -5px;
    background-color: var(--cor-primaria);
    transition: 0.5s ease-in-out;
}

.projetos .projetos-container .projeto .projeto-conteudo p:hover::after {
    width: 70%;
}

@media (max-width: 1340px) {
    .projetos .projetos-container {
        grid-template-columns: repeat(3, minmax(230px, 1fr));
    }
}

@media (max-width: 1024px) {
    .projetos .projetos-container {
        grid-template-columns: repeat(2, minmax(230px, 1fr));
    }

    .projetos .projetos-container .projeto h3 {
        font-size: 17px;
    }
}

@media (max-width: 768px) {
    .projetos .projetos-container {
        grid-template-columns: repeat(1, 250px);
    }

    .projetos .projetos-container .projeto h3 {
        font-size: 15px;
    }
}

@media (max-width: 375px) {
    .projetos .projetos-container {
        grid-template-columns: repeat(1, 230px);
    }
}