.projetos {
    grid-area: projetos;
    margin: 0 auto;
    min-height: 100vh;
    padding: 100px 0% 20px;
}

.projetos .projetos-container {
    display: grid;
    grid-template-columns: repeat(4, minmax(210px, 1fr));
    grid-gap: 78px;
    margin: 0px 4px 120px 4px;
    background-color: var(--cor-background-container);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin: 10px;
    padding: 30px 18px 90px 18px;
}

.projetos .projetos-container .projeto {
    position: relative;
    border: solid 1px var(--cor-primaria);
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.4);
}

.projetos .projetos-container .projeto:hover img {
    opacity: 0.8;
}

.projetos .projetos-container .projeto .title-project {
    margin-top: 15px;
    position: absolute;
}

.projetos .projetos-container .projeto .projeto-conteudo {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--cor-secundaria);
    top: 0;
    opacity: 0;
    transition: all 0.3s ease;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.projetos .projetos-container .projeto .projeto-conteudo:hover {
    opacity: 0.6;
}

.projetos .projetos-container .projeto .projeto-conteudo a {
    color: var(--cor-branca);
    transition: all 0.3s ease;
}

.projetos .projetos-container .projeto .projeto-conteudo a:hover {
    margin: 5px;
}

.projetos .projetos-container .projeto .projeto-conteudo p {
    margin: 10px;
    font-size: 15px;
    position: relative;
}

.projetos .projetos-container .projeto .projeto-conteudo a:hover {
    color: var(--cor-hover);
}


.projetos .projetos-container .projeto .projeto-conteudo a:active {
    color: var(--cor-click-active);
}


.projetos .projetos-container .projeto .projeto-conteudo p::after {
    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    left: 50px;
    bottom: -5px;
    background-color: var(--cor-primaria);
    transition: 0.5s ease-in-out;
}

.projetos .projetos-container .projeto .projeto-conteudo p:hover::after {
    width: 65%;
}


@media (max-width: 1340px) {
    .projetos .projetos-container {
        grid-template-columns: repeat(3, minmax(230px, 1fr));
        padding: 30px 0px 80px 0px;
    }
}

@media (max-width: 1024px) {
    .projetos .projetos-container {
        grid-template-columns: repeat(2, minmax(230px, 1fr));
        padding: 30px 30px 90px 30px;
    }

    .projetos .projetos-container .projeto .title-project {
        font-size: 17px;
    }

    .projetos .projetos-container .projeto .projeto-conteudo {
        width: 100%;
        height: 30%;
        top: 70%;
        opacity: 0.8;
        flex-direction: column;
        justify-content: space-around;
    }

    .projetos .projetos-container .projeto .projeto-conteudo p {
        font-size: 12px;
        margin: 5px;
    }

    .projetos .projetos-container .projeto .projeto-conteudo p::after {
        width: 50%;
        left: 25%;
        bottom: -1px;
    }

    .projetos .projetos-container .projeto .projeto-conteudo p:hover::after {
        width: 50%;
    }
}

@media (max-width: 768px) {
    
    .projetos .projetos-container {
        grid-template-columns: repeat(1, minmax(230px, 1fr));
        padding: 20px 20px 80px 20px;
        margin: 10px;
    }

    .projetos .projetos-container .projeto .title-project {
        font-size: 15px;
    }
}

@media (max-width: 375px) {
    .projetos .projetos-container {
        grid-template-columns: repeat(1, minmax(230px, 1fr));
        margin: 0px 5px 120px 5px;
    }
}