.sobre {
    grid-area: sobre;
    margin: 0 auto;
}

.sobre .sobre-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.sobre .sobre-container .image-setup {
    background-color: var(--cor-background-shadow);
    position: relative;
    min-width: 500px; 
    border-radius: 20px;
    padding: 0px 20px;
}

.sobre .sobre-container .image-setup img {
    border-radius: 20px;
    margin: 20px 0px -20px -20px;
    box-shadow:-10px 15px 20px 0px rgba(0,0,0,0.3);
}

.sobre .sobre-container .sobre-conteudo {
    max-width: 650px;
}

.sobre .sobre-container .sobre-conteudo p {
    font-size: 20px;
    text-align: center;
}

@media (max-width: 1024px) {
    .sobre .sobre-container {
        flex-direction: column;
    }

    .sobre .sobre-container .image-setup {
        margin-bottom: 60px;
    }
}

@media (max-width: 768px) {

    .sobre .sobre-container .image-setup {
        min-width: 250px;
        margin-left: 30px;
    }

    .sobre .sobre-container .image-setup img {
        min-width: 250px;
        margin: 20px 0px -20px -20px;
        box-shadow: -7px 12px 20px 0px rgba(0,0,0,0.3);
    }

    .sobre .sobre-container .sobre-conteudo {
        min-width: 250px;
        margin-left: 30px;
    }
}

@media (max-width: 375px) {

    .sobre .sobre-container .image-setup {
        min-width: 200px;
        margin-left: 25px;
    }

    .sobre .sobre-container .image-setup img {
        width: 200px;
        box-shadow: -4px 9px 20px 0px rgba(0,0,0,0.3);
    }

    .sobre .sobre-container .sobre-conteudo {
        width: 200px;
    }
}