.sobre {
    grid-area: sobre;
    margin: 0 auto;
    padding-bottom: 150px;
}

.sobre .title {
    margin-bottom: 150px;
}

.sobre .sobre-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 60px;
}

.sobre .sobre-container .sobre-image {
    background-color: var(--cor-background-perfil);
    position: relative;
    max-width: 680px; 
    max-height: 550px;
    border-radius: 20px;
    padding: 0px 20px;
}

.sobre .sobre-container .sobre-image img {
    border-radius: 20px;
    margin: 20px 0px -20px -20px;
    box-shadow:-10px 15px 20px 0px rgba(0,0,0,0.3);
}

.sobre .sobre-container .sobre-conteudo {
    max-width: 500px;
}

.sobre .sobre-container .sobre-conteudo p {
    font-size: 25px;
    text-align: center;
}

@media (max-width: 1024px) {
    .sobre .sobre-container {
        flex-direction: column;
    }

    .sobre .sobre-container .sobre-image {
        margin-bottom: 60px;
    }

    .sobre .sobre-container .sobre-image img {
        width: 550px;
    }

    .sobre .sobre-container .sobre-conteudo {
        width: 600px;
    }
}

@media (max-width: 768px) {

    .sobre .sobre-container .sobre-image {
        max-width: 250px; 
        margin: 40px -10px;
    }

    .sobre .sobre-container .sobre-image img {
        max-width: 110%;
        margin: 20px 0px -20px -20px;
        box-shadow: -7px 12px 20px 0px rgba(0,0,0,0.3);
    }

    .sobre .sobre-container .sobre-conteudo {
        width: 300px;
    }

}

@media (max-width: 375px) {
    .sobre .sobre-container .sobre-image img {
        width: 200px;
        box-shadow: -4px 9px 20px 0px rgba(0,0,0,0.3);
    }

    .sobre .sobre-container .sobre-conteudo {
        width: 200px;
    }
}