html {
    scroll-behavior: smooth;
}

body {
    display: grid;
    grid-template-areas: "header header header"
        "contatos perfil perfil"
        "contatos sobre sobre"
        "contatos habilidades habilidades"
        "contatos projetos projetos"
        "footer footer footer";
    grid-template-columns: 8% auto 8%;
    font-family: 'Montserrat', sans-serif;
    background-color: var(--cor-background);
}

.title {
    font-size: 50px;
    text-align: center;
    color: var(--cor-primaria);
}

@media (max-width: 1340px) {

}

@media (max-width: 1024px) {

}

@media (max-width: 768px) {
    .title {
        font-size: 30px;
    }
}

.sobre {
    grid-area: sobre;
}