body {
    display: grid;
    grid-template-areas: "header header header"
        "contatos perfil designer"
        "contatos sobre designer"
        "contatos habilidades designer"
        "contatos projetos designer"
        "footer footer footer";
    grid-template-columns: 8% auto 10%;
    font-family: 'Montserrat', sans-serif;
    background-color: var(--cor-background);
}

.designer {
    grid-area: designer;
    display: flex;
    justify-content: space-around;
}

.designer .lado {
    position: absolute;
    width: 350px;
    top: 500px;
    text-align: center;
    right: -100px;
    transform: rotate(90deg);
    display: flex;
    justify-content: space-between;
}

.designer .lado {
    position: absolute;
    width: 350px;
    top: 500px;
    text-align: center;
    right: -100px;
    transform: rotate(90deg);
    display: flex;
    justify-content: space-between;
}

.designer .lado-perfil {
    top: 70vh;
}

.designer .lado-sobre {
    top: 155vh;
}

.designer .lado-habilidades {
    top: 230vh;
}

.designer .lado-projetos {
    top: 310vh;
}

.contatos {
    /* background-color: beige; */
    grid-area: contatos;
    border-radius: 10px;
    box-shadow: 0px 10px 40px 0px rgba(0,0,0,0.1);
}

.contatos ul {
    position: fixed;
    display: flex;
    flex-direction: column;
    padding: 50px 0px 0px 50px;
    gap: 30px;
    font-size: 30px;
}

.contatos li a i{
    color: var(--cor-primaria);
}

.contatos ul li a i:hover {
    cursor: pointer;
    color: var(--cor-secundaria);
}


.sobre {
    background-color: blueviolet;
    grid-area: sobre;
}

.habilidades {
    background-color: burlywood;
    grid-area: habilidades;
}

.projetos {
    background-color: coral;
    grid-area: projetos;
}

.footer {
    background-color: yellowgreen;
    grid-area: footer;
}