:root {
    --cor-primaria: #25272a;
    --cor-secundaria: #0064C2;
    --cor-branca: #fff;
    --cor-background: #e0e2eb;
    --cor-background-shadow: #a7adc04d;
    --cor-borda-dinamica: #0064C2;
    --cor-click-active: #83f7f7;
    --cor-hover: #b8bac8;
}